/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: white;
  
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
   color:  #4CAF50;
  cursor: pointer;
  transition: color 0.3s;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.logo:hover {
  color: #4CAF50;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a.active {
  font-weight: bold;
  border-bottom: 2px solid #006633;
}
nav ul li a:hover {
  color: #4CAF50;
}

.search-icon {
  font-size: 1.2em;
  cursor: pointer;
  color: black;
  transition: color 0.3s;
}
.search-icon:hover {
  color: #4CAF50;
}

/* About Section */
.about-section {
  background-image: url("https://i.ibb.co/2YySfwMs/In-Shot-20250724-224500221.jpg");
  background-size: 100% 900px;
  background-repeat: no-repeat;
  background-position: 100% center;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 50px;
  min-height: 1000px; 
  
}
.about-content {
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 10px;
  margin-left: 0px;
  margin-bottom: 150px;
}

.about-content h1 {
  font-size: 36px;
  color: #003f1f;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 25px;
}

.contact-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #006633;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.contact-btn:hover {
  background-color: #004d26;
}
