<section class="home-list">
  <h2>Featured Homes</h2>
  <div class="homes-container">
    @for (home of homes; track home._id) {
      <div class="home-card">
        <img [src]="home.imageUrl" [alt]="home.title">
        <div class="home-info">
          <h3>{{ home.title }}</h3>
          <p>{{ home.type }} in {{ home.location }}</p>
          <p>₹{{ home.price }}</p>

          <p>Status: 
            <span [ngClass]="{ 'available': home.available, 'booked': !home.available }">
              {{ home.available ? 'Available' : 'Booked' }}
            </span>
          </p>


          <button 
            [disabled]="!home.available" 
            (click)="openBooking(home)"
          >
            {{ home.available ? 'Book Now' : 'Already Booked' }}
          </button>
        </div>
      </div>
    }
  </div>

  <button class="view-more">View More</button>

  <!-- Popup Booking Form -->
  @if (showForm) {
    <div class="modal-overlay">
      <div class="modal-content">
        <app-booking-form
          *ngIf="showForm"
          [home]="selectedHome"
          (close)="closeBooking()"
          (bookingConfirmed)="markHomeAsBooked($event)">
        </app-booking-form>

      </div>
    </div>
  }
</section>

